# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be included in version control, so this line
# is commented out by default.
#.vscode/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here

/android/app/debug
/android/app/profile
/android/app/release
/android/unityLibrary/
unity/OneVelocity3D/Library
unity/OneVelocity3D/Temp
unity/OneVelocity3D/.vs
unity/OneVelocity3D/Assets/001 - One Velocity/002 - Models/000 -Car/Honda Civic/2023+Honda+Civic+Type+R.fbx
unity/OneVelocity3D/Assets/001 - One Velocity/002 - Models/000 -Car/Honda Civic/2023+Honda+Civic+Type+R.fbx.meta
unity/OneVelocity3D/Assets/001 - One Velocity/002 - Models/000 -Car/Brio/New HOnda Brio.fbx
